
.container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

    .container .modal {
        z-index: 1;
        width: 600px;
        background: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: relative;
        animation: animate 0.3s;
        padding: 5px;
    }
    section div{
        border-bottom: thin;
        border-bottom-style: solid;
    }
.skills  div {
    border-bottom: thin;
    border-bottom-style: solid;
    border-color: white;
}
.container .card {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(235,162,72,1) 37%, rgba(246,124,32,1) 52%, rgba(240,144,73,1) 66%, rgba(255,93,0,1) 84%);
}
    .container .toppart {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
.container .stats {
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.container .skills {
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.modal button {
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: crimson;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}

@keyframes animate {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }
}
