
.background {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
}
.grid{
    display: grid;
    background-color: rgba(245, 245, 220, 0.600);
    padding: 5px;
    margin: auto;
    width: 60%;
    height: 450px;
    grid-template-columns: 1fr 1fr;
}
