
.background {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.grid{
    display: grid;
    background-color: rgba(245, 245, 220, 0.317);
    margin: 15px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 600px){

    .grid{
        grid-template-columns: 1fr 1fr;
    }
}